# Compiled output
**/dist
/node_modules
/tmp
/docker/dist
/docker/image/dist
/scripts/results
/scripts/logs.txt
/coverage
/.nyc_output
.gitlab-ci-local
.gitlab-ci-local-env

# Logs
/binlogs
*mysql-bin-changelog*
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
.vscode
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment
.env*
!.env.sample


# Node.js
node_modules/*
**/node_modules/*
*.iml

# History
.history/

# Dist folders
/dist
/docker/dist
/docker/image/dist

**.env*
*.traineddata
